.idea
.env
.venv
__pycache__/
.pytest_cache/
logs/
public/index.html
public/en/index.html
public/assets/*.min.css
public/assets/*.min.js

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfplan
